<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <title>Gerenciamento de Vendas</title>
</head>

<body class="bg-secondary">
    <div class="container bg-white">
        <a href='../index.html' class='btn btn-primary btn-md mt-4'> Voltar</a>
        <hr>
        <p class="lead">Dados do Cliente</p>
        <div class="row">
            <div class='col-md-4'>
                <p class="nome"></p>
            </div>
            <div class='col-md-4'>
                <p class="cpf"></p>
            </div>
            <div class='col-md-4'>
                <p class="genero"></p>
            </div>
            <div class='col-md-12'>
                <p class="endereco"></p>
            </div>
        </div>
        <hr>
        <p class="lead">Dados dos Produtos</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço Unitário</th>
                    <th scope="col">Preço Unitário c/ Desconto</th>
                </tr>
            </thead>
            <tbody class='produtos-adicionados'>

            </tbody>
        </table>

        <hr>
        <p class="lead">Valores</p>
        <div class="row">
            <div class='col-md-4'>
                <p class="valor-total"></p>
            </div>
            <div class='col-md-4'>
                <p class="valor-liquido"></p>
            </div>
        </div>
    </div>
</body>

<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/maskMoney.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/venda/venda.js"></script>